*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: azure;
    color: darkblue;
}

header, footer{
    text-align: center;
    background-color: steelblue;
    color: white;
    padding: 20px 0;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,100px);
    gap: 15px;
    padding: 20px;
    background-color: aquamarine;
    margin: 20px auto;
    max-width: 900px;
    border-radius: 10px;
}

.item{
    background-color: bisque;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#item1{
    background-color:darkblue;
    color:white;
    grid-column: 1/3;
    grid-row: 1/2;
}
#item2{
    background-color:darkgray;
    color:white;
    grid-column: 3/4;
    grid-row: 1/3;
}

#item3{
    background-color:darkcyan;
    color:white;
}
#item4{
    background-color:darkgoldenrod;
    color:white;
    grid-column: 1/3;
    grid-row: 2/3;
}
#item5{
    background-color:darkgrey;
    color:white;
    grid-column: 0/4;
    grid-row: 3/4;
}

#item6{
    background-color:darkgreen;
    color:white;
    grid-column: 0/4;
    grid-row: 3/4;
}