*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: azure;
    color: darkblue;
}

.container{
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 80px 1fr 60px;
    grid-template-areas: 
        "header header"
        "sidebar content"
        "footer footer";
    min-height: 100vh;
}

header{
    grid-area: header;
    background-color: navajowhite;
    color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.menu{
    display: flex;
    gap: 20px;
}
.menu a{
    color: black;
    text-decoration: none;
    transition: 1s
}
.menu a:hover{
    translate: 0px -10px;
}

aside{
    grid-area: sidebar;
    background-color: aquamarine;
    color:blue;
    padding: 20px;
}
aside ul{
    list-style: none;
}
aside li{
    margin: 10px 0;
}
aside a{
    color:black;
    text-decoration: none;
    transition: 1s;
    padding: 8px 0;
}
aside a:hover{
    background-color: rgb(102, 202, 169);
    border-radius: 10px;
    padding-left: 10px;
}

.content{
    grid-area: content;
    background-color: rgb(71, 196, 154);
    padding: 20px;
}

.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.card{
    background-color: rgb(46, 131, 103);
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    width: 250px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
}

footer{
    grid-area: footer;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}