*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: azure;
    color: darkblue;
}
header{
    background-color: steelblue;
    color: white;
    padding: 20px;
    text-align: center;
}
section{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.card{
    background-color: aqua;
    color: black;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 2px 6px black;
    width: 30%;
    text-align: center;
}

footer{
    background-color: steelblue;
    color:white;
    text-align: center;
    padding: 10px;
}

@media (max-width: 1024px){
    .card{
        width: 45%;
    }
}

@media (max-width: 600px){
    .main{
        flex-direction:column;
        align-items: center;
    }
    .card{
        width: 90%;
    }
    header, footer{
        text-align: center;
    }
}