/*{
    margin: 20px;
    background-color: black;
}
.BannerImg{
    display:flex;
    justify-content: center;
}
img.BannerLink{
    width: 100px;
    display: flex;
    justify-content: left;
    
}
.Titulos{
    text-align: center;
}
#BannerLink{
    width: 100px;
}*/