*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: azure;
}

.container{
    color: white;
    text-align: center;
    background-color: steelblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px black;
    width: 90%;
    max-width: 600px;
    border: 1px solid black;
}

h1{
    color:white;
}
p{
    color:black;
    font-size: 1.2em;
}

input{
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid black;
    height: 20px;
}

button{
    background-color: rgba(105, 90, 205, 0.6);
    border: none;
    padding: 10px;
    margin: 0 10px;
    border-radius: 10px;
    font-weight: bold;
    transition: 200ms;
}

button:active{
    background-color: rgb(98, 74, 255);
}

li{
    background-color: crimson;
    color: white;
    list-style-type: none;
    font-weight: bolder;
    padding: 10px;
    margin: 5px 0 0 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px black;
    text-align: start;
}