*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: azure;
    color:steelblue;
}

.container{
    text-align: center;
    background-color: bisque;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px black;
}
.container h1{
    text-shadow: 2px 2px blue;
}
.container p{
    text-shadow: 1px 1px black;
    font-weight: bold;
}

.container button{
    background-color: rgba(137, 43, 226, 0.418);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px black;
}