*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #C4AD9D;
    color: #000000;
}
header{
    background-color: #0274BD;
    color:#E9E6DD;
    text-align: center;
    padding: 20px;
}
section{
    margin: 10px;
}
.nav{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px 0px 5px;
    justify-content: center;
    gap: 20px;
}
.nav a{
    color: #E9E6DD;
    text-decoration: none;
    border-radius: 10px;
    background-color: #004b7a;
    padding: 10px;
}
.nav a:hover{
    background-color: #01588f;
}

footer{
    color: #E9E6DD;
    background-color: #0274BD;
    padding: 20px;
}

button{
    background-color: #F57251;
    padding: 10px;
    font-weight:900;
    font-size:18px;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px 5px;
    cursor:pointer;
    margin:10px 0px;
}
button:hover{
    background-color: #d46347;
}
button:active{
    padding: 20px;
}

input{
    padding: 8px;
    border: none;
    margin: 10px 0px;
    border:2px solid black
}
input:focus{
    border-color:red;
    outline:none;
}